#calculator_border{
  border: 2px solid rgb(253, 0, 0);
  width:250px;
  border-radius: 5%;
}

#inputBox{
  border: 2px solid rgb(236, 154, 154);
  margin: 10px;
  width:85%;
  border-radius: 10px;
  font-size: 35px;
}
#button_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5%;
  background-color: rgb(255, 183, 183);
}

.button{
  color: rgb(255, 0, 13);
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 10%;
  
}